/*
 *	RealEstate Premium Theme v1.5
 *	Media Layout for MaxDeviceWidth 768px
 *	
 *  This stylesheet works only on a 768px width device. i.e. an iPad on Portrait mode.
 *
 *  This theme is based(inherits) on the following styles (in order of apperance):
 *  1 - Zen Base Theme 5.1 for Drupal 7.
 *  2 - This file.
 *
 * For privacy & confidentiality reasons, you can erase these comments.
 *
 * Created by DoubleMThemes for ThemeSnap
 * http://doublemthemes.com
 */

#page, .region-top-wide, .page {
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    padding: 0 10px;
    width: 748px;
}

body.page-node-56 .region-highlighted {
    height: auto;
    margin-bottom: -56px;
    margin-top: 7px;
}

.section-home-variant-4 .region-highlighted {
    margin-top: 22px !important;
}

#block-widgets-s-socialmedia-profile-default {
    margin-right: 0;
}


/* Navigation */

.region-header {
    float: right;
    margin-top: 2px;
    width: 470px;
}

#block-jump-menu-jump-menu-m-main-menu {
    float: right;
    margin-bottom: 0;
    margin-top: 6px;
}

#block-jump-menu-jump-menu-m-main-menu select {    
    width: 445px;
}

#block-system-user-menu{
	display: block;
}

#page-top-wide {
    background: none repeat scroll 0 0 #201D18;
    color: #BBBBBB;
}


#logo-mobile{
	display: none;
	margin-top: 0;
	margin-bottom: 0;
}

#logo{
	display: block;
}



#block-widgets-s-socialmedia-profile-default {
    border-left: 1px solid #555555;
}

#block-block-6 p{
	font-size: 13px;
	margin-top: 0;
}

#page-top-wide {
    background: none repeat scroll 0 0 #333333;
    color: #BBBBBB;
    width: 100%;
}

.view-cars-slideshow img {
    width: auto;	
}

.view-cars-slideshow .views-field-field-image-1 img {
    margin-left: auto;
    margin-top: auto;
    position: relative;
    width: 150px;
}

.view-cars-slideshow .views-field-field-image-1 {
    display: block;
    margin-left: -197px;
    margin-top: 137px;
}

#block-views-cars-slideshow-block {
    margin-top: auto;
    padding-top: 42px !important;
}

.view-cars-slideshow .views-field-nothing-1{
	display: block;
}

body.front #block-block-5 h3 {
    float: left;
    font-size: 23px;
    margin-top: 0;
    width: 408px;
}

.view-cars-slideshow .views-slideshow-controls-top {
    width: 768px;
	margin-left: -20px;
}

.view-cars-slideshow img {
    width: 360px;
}

.view-cars-slideshow .views-field-title h2 {
    font-size: 35px;
    line-height: 37px;
    margin-top: -11px;
    width: 715px;
}

.view-cars-slideshow .views-field-field-miles {
    font-size: 14px;
    line-height: 21px;
    width: 714px;
}

.view-cars-slideshow .views-field-field-image {
    float: left;
}

.view-cars-slideshow .views-field-field-image-1 {
    display: block;
    margin-left: -179px;
    margin-top: 132px;
}

.view-cars-slideshow #views_slideshow_cycle_teaser_section_cars_slideshow-block, .view-cars-slideshow .views-slideshow-cycle-main-frame-row, .view-cars-slideshow .views-slideshow-cycle-main-frame-row-item {
    width: 748px;
}

.view-cars-slideshow .new, .view-cars-slideshow .low, .view-cars-slideshow .featured, .view-cars-slideshow .sold {
    margin-top: -22px;
    width: 371px;
}

.view-cars-slideshow .views-slideshow-cycle-main-frame-row-item .views-field-nothing-1 a.interested {
    margin-top: 11px;
}

.view-cars-slideshow .views-slideshow-controls-bottom {
    margin-bottom: -15px;
    margin-top: -32px;
}

body.front #block-block-5 {
    margin-bottom: 0;
    min-height: 95px;
    padding-bottom: 0;
    padding-top: 14px !important;
}

body.front #block-block-5 p {
    font-size: 13px;
    line-height: 72px;
    margin-right: 1px;
    margin-top: 9px;
}

body.front #content .block {
    border-top: 1px dashed #EFEFEF;
    clear: both;
    margin-bottom: 0;
    padding-top: 18px;
}

.view-browse-cars .views-row-even {
    margin-right: 30px;
}


body.front .view-browse-cars.view-display-id-block_3 .views-row {
    margin-right: 40px;
}

body.front .view-browse-cars.view-display-id-block_3 .views-row-3 {
    border-top: medium none;
    clear: none;
    padding-top: 0;
	margin-right: 0px;
}

body.front .view-browse-cars.view-display-id-block_3 .views-row-4 {
	display: none;
}


.view-make-browser .views-row:nth-child(3n + 3){
    margin-right: 0;
	border-right: none;
}

.view-make-browser .views-row:nth-child(3n+3) {
    border-right: 1px dashed #CEB6A2;
    margin-right: 9px;
}

.view-make-browser .views-row:nth-child(5n+5) {
    border-right: none;
    margin-right: 0;
}

.view-make-browser .views-row:nth-child(5n+5) {
    border-right: medium none;
    margin-right: -15px;
    padding-right: 0;
}

body.front .view-make-browser .views-row:nth-child(6n+6) {
    display: none;
}

.view-make-browser {
    margin-left: 0;
    padding-bottom: 15px;
}

#footer .block {
    float: left;
    margin-right: 20px;
    margin-top: 24px;
    width: 168px;
}

#footer .block.even{
    margin-right: 20px;
}

#footer .block.odd{
    clear: none;
}

#footer .block.last{
    margin-right: 0;
}

.view-footer-car-blocks .views-row .views-field-title h3 {
    font-size: 13px;
}

#views_slideshow_cycle_div_our_customers_say-block_0 {
    width: 705px !important;
}

#block-views-browse-cars-block-3 {
    border-top: medium none !important;
    width: 748px;
}


/* Car Page */

body.not-front #main {
    padding-top: 38px;
    width: 748px !important;
}

body.not-front {
    background: url("../images/header-background.png") repeat-x scroll 0 0 transparent;
}

body.node-type-property .field-name-field-image .field-slideshow img {
    width: 470px;
}

body.node-type-property .field-name-field-image .field-slideshow-slide {
    background: url("../images/car-footer.png") no-repeat scroll center 320px transparent;
    height: 342px !important;
    width: 478px !important;
}

body.node-type-property .field-name-field-image .field-slideshow img {
    width: 470px;
}

body.node-type-property #field-slideshow-1-carousel-wrapper #field-slideshow-1-carousel {
    width: 448px;
}

body.node-type-property #field-slideshow-1-controls {
    margin-top: -199px;
    width: 442px;
}

body.node-type-property #field-slideshow-1-carousel-wrapper {
    margin-top: -12px;
}

body.node-type-property.sidebar-first .group-details {
    margin-left: 0;
    margin-right: -20px;
    margin-top: 0;
    width: 186px;
}

body.node-type-property .field-group-htabs-wrapper {
    width: 728px;
}

#block-webform-client-block-33 {
    width: 728px;
}

#webform-client-form-33 .fieldset-description {
    width: 680px;
}

#block-webform-client-block-33 .form-item {
    width: 680px;
}

#block-webform-client-block-33 .form-item input {
    width: 653px;
}

#block-webform-client-block-33 textarea {
    width: 680px;
}

.resizable-textarea .grippie {
    width: 680px;
}

.view-related-cars .views-row:nth-child(3n+3) {
    margin-right: 20px;
}

.view-related-cars .views-row:nth-child(5n+5) {
    margin-right: 0;
}

.view-related-cars {
    width: 728px;
}


.view-related-cars .views-row {
    width: 128px;
}

.sidebar .block {
    float: left;
    margin-right: 30px;
    width: 349px;
}

.sidebar .block.even {
    margin-right: 0;
}

.sidebar .block.odd {
    clear: both;
}

#block-multiblock-1 .views-exposed-widget .form-select {
    width: 350px;
}

#block-multiblock-1 .views-exposed-widget .form-submit {
    width: 350px;
}

#block-widgets-s-share-car {
    width: 728px;
}




/* Car Browser */



body.not-front.no-sidebars #main {
    padding-top: 36px;
    width: 728px !important;
}

body.not-front #content {
    width: 748px;
}

.view-browse-cars .views-row-odd {
    clear: none;
}

.view-browse-cars .views-row {
    width: 222px;
}

.view-browse-cars .views-row .views-field-field-image-1 {
    margin-top: 107px;
}

.view-browse-cars .views-row .views-field-field-image {
    background: url("../images/car-footer.png") no-repeat scroll center 151px transparent;
    height: 163px;
}

.low, .new, .featured {
    width: 226px;
}

.views-exposed-widget .form-select {
    height: 36px;
    padding: 10px;
    width: 263px;
}

.filters-block .left {
    margin-bottom: 61px;
}

.sort-block .left {
    margin-bottom: 54px;
}

.view-browse-cars.view-display-id-cars_list .views-row {
    margin-left: 0;
    width: 668px;
}

.view-browse-cars .views-row:nth-child(3n+1) {
    clear: both;
}

.view-browse-cars .views-row:nth-child(3n+3) {
    margin-right: 0;
}

.view-browse-cars .views-row-3 {
    border-top: none;
    padding-top: 0;
}

.view-browse-cars .views-row .views-field-field-image img {
    width: 215px;
}


/* Compare View */

.view-display-id-cars_compare td {
    max-width: 216px;
}

.view-display-id-cars_compare img {
    width: 186px;
}

.view-display-id-cars_compare a.flag {
    width: 112px;
}

.view-display-id-cars_compare h3 {
    font-size: 21px;
}

.view-display-id-cars_compare h4 {
    font-size: 18px;
}


/* List View */


.view-browse-cars.view-display-id-cars_list .views-row .views-field-field-drive, .view-browse-cars.view-display-id-cars_list .views-row .views-field-field-fuel-type, .view-browse-cars.view-display-id-cars_list .views-row .views-field-field-body-style, .view-browse-cars.view-display-id-cars_list .views-row .views-field-field-epa-mileage-road-, .view-browse-cars.view-display-id-cars_list .views-row .views-field-field-miles {
    display: block;
}

.view-browse-cars.view-display-id-cars_list .views-row .views-field-field-color {
    display: block;
}

.view-browse-cars.view-display-id-cars_list .views-row .views-field-field-cylinders {
    display: block;
}

.view-browse-cars.view-display-id-cars_list .views-row .views-field-field-doors {
    display: block;
}

.view-browse-cars.view-display-id-cars_list .views-row .views-field-field-transmition {
    display: block;
}

.view-browse-cars.view-display-id-cars_list .views-row .views-field-field-miles, .view-browse-cars.view-display-id-cars_list .views-row .views-field-field-epa-mileage-road- {
    border-left: 1px solid #EEEEEE;
    padding-left: 10px;
}

.view-browse-cars.view-display-id-cars_list .views-row .views-field-title h3 {
    margin-bottom: 9px;
}

.view-browse-cars.view-display-id-cars_list .views-row .views-field-field-doors {
    margin-right: 10px;
}

.view-browse-cars.view-display-id-cars_list .views-row .views-field-title-1 {
    font-size: 22px;
    margin-top: -4px;
}

#page {
    overflow: hidden;
}

#footer {
    background: url("../images/footer.png") no-repeat scroll center 0 transparent;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
}


/* Contact Page */

#contact-site-form input {
    width: 483px;
}

#contact-site-form textarea {
    width: 489px;
}

.resizable-textarea .grippie {
    width: 487px;
}

#contact-site-form #edit-actions input {
    width: 200px;
}

#contact-site-form .resizable-textarea .grippie {
    width: 487px;
}

.view-cardealer-blog .views-field-field-image {
    margin-left: 0;
}

.sidebar-first .region-sidebar-first {
    margin-left: -10px;
    padding-left: 20px;
    width: 768px;
}

.view-realestate-site-features .views-row {
    margin-top: 7px;
    width: 729px;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {

	.view-cars-slideshow .views-field-title {
		width: 357px;
		padding-left: 400px;
	}
	
	.view-cars-slideshow .views-field-title h2 {
		width: 325px;
	}
	
}

body.front .view-browse-cars.view-display-id-block_3 .views-row-4 {
    display: none;
}

#quicktabs-browse_cars .view-browse-cars {
    display: block;
    width: 728px;
}

#quicktabs-browse_cars .view-browse-cars .view-display-id-attachment_1 {
    display: block;
    width: 720px !important;
}

.low, .new, .featured, .reduced {
    width: 217px;
}

.section-home-variant-1 #gmap-auto1map-gmap0 {
    margin-top: -2px;
}

#block-search-form {
    height: 51px;
    width: 710px;
}

#block-search-form h2.block-title {
    background-position: 0 10px;
    padding: 9px 16px 0 40px;
}

#block-search-form .form-text {
    width: 417px;
}

.view-cars-slideshow .views-slideshow-controls-top {
    margin-left: -10px;
    width: 768px;
}

.view-cars-slideshow img {
    margin-left: 20px;
    width: 768px;
}

.view-cars-slideshow .views-field-field-image {
    float: left;
    margin-top: -41px;
}


.view-cars-slideshow .views-field-title {
    margin-left: 83px;
    margin-top: 226px;
}

.view-cars-slideshow .views-field-title h2 {
    width: 559px;
}

.view-cars-slideshow .views-field-nothing-2 {
    margin-left: 83px;
    width: 392px;
}

.page-node-11 .region-highlighted, .page-node-52 .region-highlighted {
    height: 470px;
}

.view-cars-slideshow .views-slideshow-controls-top {
    margin-top: 93px;
}

.view-cars-slideshow .views-field-nothing-1 {
    display: block;
    margin-left: 67px;
    width: 600px;
}

.view-cars-slideshow .views-slideshow-cycle-main-frame-row-item .views-field-nothing-1 a.interested {
    margin-top: 0;
}

.view-cars-slideshow .views-slideshow-controls-bottom {
    margin-bottom: -15px;
    margin-top: 238px;
    width: 768px;
}

.view-realestate-site-features .views-row {
    margin-top: 7px;
    width: 209px;
}

.view-realestate-site-features .views-row .views-field-title h2 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 7px;
}

#calc-selectors {
    width: 733px;
}

#calc-selectors-2 {
    width: 733px;
}

#mortgage {
    padding: 21px 580px 21px 28px;
}

.view-cardealer-blog .views-field-field-image {
    margin-right: -6px;
}

.view-agents .views-row .views-field-field-photo{
    border-right: 1px dashed #CCCCCC !important;
    margin-right: 21px !important;
    padding-right: 27px !important;
}

.view-agents .views-row-last .views-field-field-photo{
    border-right: none !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.view-agents .views-row:nth-child(3n+3) {
    margin-right: 20px;
}

.view-agents .views-field-field-photo img {
    border: 1px solid #CCCCCC;
    padding: 3px;
    width: 106px;
}

.view-agents .views-row .views-field-field-photo {
    background: url("../images/agent-footer.png") no-repeat scroll 6px 114px transparent;
    background-size: 103px auto;
    }

.view-agents .views-row .views-field-field-photo {
    width: 106px;
}

.view-agents .views-row-last {
    margin-right: 0px !important;
}

.view-agents .views-row {
    float: left;
    margin-right: 20px;
    min-height: 300px;
    width: 133px;
}

.view-agents .views-row .views-field-field-photo {

    height: 124px;
}

.view-agents .views-row {
    min-height: 270px;
}

.view-agents .views-row.views-row-5 {
    display: block;
    width: 116px;
}

body.front .view-browse-cars.view-display-id-block_3 .views-row {
    margin-right: 30px;
}

body.front .view-browse-cars.view-display-id-block_3 .views-row-3 {
    margin-right: 0;
}

.view-display-id-cars_list .sold {
    background-position: -20px -14px;
    background-size: 145px auto;
}

.page-node-57 .view-browse-cars .views-row-4 {
    display: none;
}

.page-node-57  h1.title {
    font-size: 60px;
}

.page-node #content img {
    max-width: 470px;
}

#block-gmap-location-0 {
    width: 726px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    .view-cars-slideshow .views-field-title {
margin-top: 224px;
margin-left: -317px;
margin-bottom: -8px;
}

.view-cars-slideshow .views-slideshow-controls-bottom {
margin-top: 257px;
}
    
} 